.page-header{
	display: grid;
	 grid-template-columns: 100px 400px;
	 justify-content: center;
	 align-items: center;
	 padding: 10px;
	 padding-left: 20px;
}
body{
	margin: 0;
}
ul{
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
footer{
	padding: 20px;
}
