h1{
	border: 15px solid orange;
	font-size: 2em;
}
nav{
	border: 7px dotted black;
}
h2{
	border: 6px solid black;
}
main{
	border:  5px solid orange;
}
ul{
	border: 3px dotted orange ;
}
ol{
	border: 3px dotted orange;
}
.kakoi-to-class{
	border: 6px solid black;
}
.page-footer{
	padding: 20px;
	background-color:	gray;
}
body{
	color: black;
	font-size: 16px;
	line-height: 26px;
	background: #ffffff url("bg.png") no-repeat top center;
}
.skills dd(
background-color: #e8e8e8;
margin: 0;
margin-bottom: 10px;
}
.skills-level{
 font-size: 12px; 
 text-align: center; 
 color: #ffffff; 
 background-color:  #47bb52;
}

	
